<div class="container pt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="goalForm">
                        <div class="row">
                            <div class="col-7">
                                <div class="mb-3">
                                    <label class="form-label">Goal Title</label>
                                    <input type="text" formControlName="goalName" class="form-control" required>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Start Date</label>
                                            <input type="date" formControlName="startDate" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Target Date</label>
                                            <input type="date" formControlName="endDate" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Description</label>
                                    <textarea formControlName="description" class="form-control"></textarea>
                                </div>
                                <div class="text-end">
                                    <button type="button" class="btn btn-secondary me-1"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary">Create Goal</button>
                                </div>
                            </div>
                            <div class="col-5" formArrayName="milestones">
                                @for (item of milestoneList.controls; track $index) {
                                    <ng-container [formGroupName]="$index">
                                        <div class="mb-3">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Start Date</label>
                                                        <input type="text" formControlName="milestoneName" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Target Date</label>
                                                        <input type="date" formControlName="targetDate" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Description</label>
                                                        <input type="text" formControlName="description" class="form-control">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </ng-container>
                                }
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3 text-end">
                                            <button class="btn btn-outline-secondary" type="button" (click)="initializeMilestoneForm()">+Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>